



a {
    color: black;
    font-size: medium;
    font-family: Helvetica;
  }
  
  a:hover {
    color: white;
  }

  .MuiToolbar-root	{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

} 

.image{
  object-fit: cover;
}